snippet imp 
import { ${0:named} } from '${1:module}';
endsnippet

snippet impd
import ${0:default} from '${1: module}';
endsnippet

snippet impa
import * as ${0:All} from '${1: module}';
endsnippet

snippet expb
export {
  ${1: named}
}
endsnippet

snippet expd
export default
endsnippet

snippet exp
export
endsnippet

snippet expf
export { ${0:named} } from '${1:module}';
endsnippet

snippet expfa
export ${0:*} from '${1:module}';
endsnippet


